.search-bar {
  margin-bottom: 0px;
}

.search-bar .col {
  position: relative;
  padding: 0px;
}

.search-bar .col.s9 {
  padding-right: 9px; 
}

.component-select {
  width: 400px;
  line-height: 28px;
  height: auto 28px;
  margin-top: 11px;
  display: inline-block;
}

.component-select.weight-select {
  width: 100%;
  margin-top: 0;
  display: inline-block;
  position: absolute;
  top: 9px;
}

.component-select.weight-select .react-select__control {
  height: 45px;
}

.component-select .react-select__input input {
  margin: 0px !important;
  height: auto !important;
}

.component-select .react-select__single-value,
.component-select .react-select__placeholder {
  width: 100%;
}

.component-select .react-select__option {
  color: #666 !important;
}

.component-select .react-select__option--is-focused {
  background-color: #90caf9;
}

.component-select .react-select__option--is-selected {
  background-color: #64b5f6;
}

.react-autosuggest__container {
  margin-top: 5px;
  border: 0px !important;
  margin-top: 9px !important;
  background: #fff !important;
}

.react-autosuggest__input { 
  text-align: center !important;
  border-color: hsl(0,0%,80%)  !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  line-height: 28px !important;
  font-size: 15px !important;
  color: hsl(0,0%,20%) !important;
  height: 43px !important;
}

.react-autosuggest__input--focused { 
  box-shadow: none !important; 
}

.react-autosuggest__input::placeholder { 
  color: hsl(0,0%,20%) !important;
}

.react-autosuggest__suggestions-list {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: 0.5rem 0px 1rem;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.react-autosuggest__suggestion {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px;
  padding: 7px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #90caf9;
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  text-align: center;
  opacity: 1; /* Firefox */
}