.tooltip_suggest {
    position: relative;
    display: inline-block;
}
  
.tooltip_suggest .tooltiptext_suggest {
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 2px 2px;
    text-align: center;
    border-radius: 1px;
    border-style: solid;
    border-width: thin;
    margin-left: 50px;
    position:fixed;
    z-index: 1;
    opacity: 0;
}
  
.tooltip_suggest:hover .tooltiptext_suggest {
    opacity: 1;
    transition: opacity  0s linear 500ms;
    visibility: visible;
}

.tooltip_link {
    position: relative;
    display: inline-block;
}
  
.tooltip_link .tooltiptext_link {
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 2px 2px;
    text-align: center;
    border-radius: 1px;
    border-style: solid;
    border-width: thin;
    margin-left: 40px;
    position:fixed;
    z-index: 1;
    opacity: 0;
}
  
.tooltip_link:hover .tooltiptext_link {
    opacity: 1;
    transition: opacity  0s linear 500ms;
    visibility: visible;
}